body, html {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1511184150666-9bb7d41a88f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-attachment: fixed;
}
#title {
  font-family: 'Lobster', cursive;
}
#gamerules {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(211, 209, 182, 0.2);
  border-radius: 15px;
}
#easylevel, #hardlevel, #mediumlevel {
  font-family: 'Lobster', cursive;
}
h2 {
  font-family: 'Lobster', cursive;
}
a {
  text-decoration-color: none;
  text-decoration-line: none;
  color: black;
  display: inline-block;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(211, 209, 182, 0.5);
}
button {
  font-family: 'Oswald', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 30px;
  border: 0.5px solid black;
}
#easystartgame, #mediumstartgame, #hardstartgame {
  background-color: rgba(150, 196, 60, 0.5);
  border-radius: 10px 10px 0 0;
  width: 250px;
}
#easyplaynewgame, #mediumplaynewgame, #hardplaynewgame {
  background-color: rgba(92, 119, 36, 0.5);
  border-radius: 0 0 10px 10px;
  width: 250px;
}
#gridboxeasy {
  display: grid;
  justify-content: center;
  grid-gap: 4px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-areas:
    "e11 e12 e13 e14"
    "e21 e22 e23 e24"
    "e31 e32 e33 e34"
    "e41 e42 e43 e44";
}
#e11 {
  grid-area: e11;
  border: 2px solid black;
}
#e12 {
  grid-area: e12;
  border: 2px solid black;
}
#e13 {
  grid-area: e13;
  border: 2px solid black;
}
#e14 {
  grid-area: e14;
  border: 2px solid black;
}
#e21 {
  grid-area: e21;
  border: 2px solid black;
}
#e22 {
  grid-area: e22;
  border: 2px solid black;
}
#e23 {
  grid-area: e23;
  border: 2px solid black;
}
#e24 {
  grid-area: e24;
  border: 2px solid black;
}
#e31 {
  grid-area: e31;
  border: 2px solid black;
}
#e32 {
  grid-area: e32;
  border: 2px solid black;
}
#e33 {
  grid-area: e33;
  border: 2px solid black;
}
#e34 {
  grid-area: e34;
  border: 2px solid black;
}
#e41 {
  grid-area: e41;
  border: 2px solid black;
}
#e42 {
  grid-area: e42;
  border: 2px solid black;
}
#e43 {
  grid-area: e43;
  border: 2px solid black;
}
#e44 {
  grid-area: e44;
  border: 2px solid black;
}

